{% extends 'layouts/mainLayout.html' %}

{% set pageId = 'page-home' %}


{% block styles %}
<link rel='stylesheet' href='css/main.css'>
{% endblock styles %}


{% block content %}
<div id="principal">

    <header>
        <h1>ToDo list</h1>
        <p>Made by: Paulo Sérgio</p>
    </header>

    <form action='/newTodo' method='POST' id='adicionarTodo'>
        <input name='name' class='addtodo' type="text" placeholder="Novo ToDo">
        <button type='submit' class='btn-submit'><img src='assets/add-24px.svg' width="20"></button>
    </form>

    <div class='todo-area'>
        <h2>Seus ToDos:</h2>

        <!-- <form action="#">
                <input class='todo' type="text" placeholder="Seu ToDo aqui">
                <button class='btn-click'><img src='assets/restore-24px.svg' width="20"></button>
            </form>-->

    </div>



</div>
{% endblock content %}


{% block script %}
<script src='js/main.js'></script>
{% endblock script %}

</script>