<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>

    <link rel='stylesheet' href='css/main.css'>
</head>

<body>

    <div id="principal">

        <header>
            <h1>ToDo list</h1>
            <p>Made by: Paulo Sérgio</p>
        </header>

        <form id='adicionarTodo'>
            <input class='addtodo' type="text" placeholder="Novo ToDo">
            <button class='btn-submit'><img src='assets/add-24px.svg' width="20"></button>
        </form>

        <div class='todo-area'>
            <h2>Seus ToDos:</h2>

            <!-- <form action="#">
                <input class='todo' type="text" placeholder="Seu ToDo aqui">
                <button class='btn-click'><img src='assets/restore-24px.svg' width="20"></button>
            </form>-->

        </div>



    </div>




    <script src='js/main.js'>
    </script>
</body>

</html>