@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /*--title-color: white;   */
}

body {
    background-image: radial-gradient(circle, #1CD1E2, #A0E95A);

}


#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 0;
}


header,
h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    margin: 10px;
}


/* Formulário do ToDo */
form {
    display: flex;
    justify-content: center;
}

#adicionarTodo {
    margin: 40px auto;
}

.resultForm {

    margin: 7.5px auto;
}

.todo-area {
    width: auto;
    height: auto;
    /*background-color: rgba(128, 118, 118, 0.486);*/

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
button {
    flex: 1;
}


.addtodo,
.resultTodo {
    border: none;
    padding: 15px 24px;
}

.addtodo {
    /* superior-esquerdo, superior-direito, inferior-direito, inferior-esquerdo */
    border-radius: 5px 0 0 5px;
}

.resultTodo {
    border-radius: 5px 0 0 5px;
    background-color: white;
}


.btn-submit {
    background-color: white;
    border: none;
    border-radius: 0 5px 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit img {
    margin-right: 5px;
    padding-left: 5px;
}